[submodule "config/multiplexers/tmux/3rd/tpm"]
	path = config/multiplexers/tmux/3rd/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "config/terminals/alacritty/3rd/alacritty-theme"]
	path = config/terminals/alacritty/3rd/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
