[submodule "init"]
	path = init
	url = git@github.com:sunzhenkai/env-init.git
[submodule "tmux/3rd/tpm"]
	path = tmux/3rd/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "alacritty/3rd/alacritty-theme"]
	path = alacritty/3rd/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
